<div class="container">

  <div class="row g-0">
    <div class="col-lg-6">
      <div class="card" id="box"> </div>
    </div>
    <div class="col-lg-6">
      <div class="card-body">

        <h5 class="card-title">{{ productDetails.title }}<a href="http://localhost:4200/products" id="exit">x</a></h5>
        <p class="card-text"><small class="text-muted">Item #:{{ productDetails.productId }}</small></p>
        <h5 class="card-text" id="price">${{ productDetails.price }} <span>{{ productDetails.discountPrice }}</span></h5>
        <p class="card-text">Stars: {{ productDetails.stars }}</p>
        <p class="card-text" id="text">{{ productDetails.text }}</p>
        <p class="card-text">Size: {{ productDetails.size }}</p>
        <a href="http://localhost:4200/products" id="add-to">Add to cart</a>
      </div>
    </div>
  </div>
</div>
<!-- /.card 1 -->