.row g-0 {
  width: 1340px;
}

#box {
  width: 565px;
  height: 565px;
  top: 0%;
  bottom: 10.17%;
  background: radial-gradient(51.17% 51.78% at 50% 51.17%, #73909C 0%, #204859 100%);
  border: white;
  margin-top: 5%;
  padding-right: 500px ;
  border-radius: 0px
}

.card-body {
  width: 565px;
  height: 665px;
  padding: 10%;
}

#text {
  width: 455px;
  left: 54.49%;
  right: 7.07%;
  top: 38.48%;
  bottom: 35.65%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #7B8093;
}

#add-to{
background: #E89806;
border-radius: 22px;
margin-right: 50%;
padding-left: 12%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.7px;
text-transform: uppercase;
color: #EAEAEC;

}

.card-title{
left: 54.49%;
right: 21.68%;
top: 4.35%;
bottom: 90.43%;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: #242633;

}

#exit{
  text-align:right;
margin-left: 50%;
color: #E89806;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
border: 2px solid #E89806;
box-sizing: border-box;
border-radius: 100%;
}

#price {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
letter-spacing: 1px;
text-transform: uppercase;
color: #2C303D;
}

#price span{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
letter-spacing: 1px;
text-transform: uppercase;
color: #E75678;
}